body{
    font-size: 1.3em;
}
/*navbar*/
nav{
    justify-content: center;
    align-items: center;
}
nav ul{
    display: none;
}
/*hero*/
#hero{
    width: 100%;
    height: 650px;
    margin: 1rem auto 12rem;
    flex-direction: column;
}
#hero .hero-left{
    width: 98%;
    height: 95%;
    top: 0;
    left: 1rem;
    display: flex;
    flex-direction: column;
}
#hero .hero-left p{
    margin-top: auto;
}
#hero .hero-left h1{
    font-size: 3.8rem;
    padding-left: 1rem;
}
#hero .hero-left div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
}
#hero .hero-right{
    width: 100%;
    right: 0rem;
    top: 3.2rem;
}
/* video */
#video{
    width: 100%;
}
#video h1{
    text-align: center;
    font-size: 3rem;
}
/*sec*/
#sec .container{
    width: 100%;
    height: 1350px;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
}
.thumb{
    width: 60%;
    height: auto;
}
.thumb2{
    align-self: flex-end;
    margin-top: 0;
}
.txt{
    width: 360px;
    margin-top: 0;
    margin-left: 2rem;
}
/* cases */
#cases{
    width: 100%;
    grid-template-columns: 1fr;
    gap: 3rem;
    margin: 5rem auto;
}
.case{
    height: 300px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
/* join */
#join{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    text-align: center;
    font-size: 1rem;
}
#join input{
    padding: 1.3rem;
    width: 90%;
    margin: 1rem 0;
}
#join p{
    margin-left: 0;
}
/* logos */
#logos{
    width: 100%;
    margin: 7rem auto;
}
#logos h1{
    width: 80%;
}
#logos .container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 0 2rem;
    gap: 5rem;
}
#logos .container img:last-child{
    display: none;
}
#logos .container img{
    width: 100%;
}
/* links */
#links{
    width: 100%;
    height: 500px;
    justify-content: space-around;
}
#links .link{
    display: flex;
    flex-direction: column;
    height: 430px;
    overflow: hidden;
}
#links .link ul{
    margin-right: 1rem;
}

/* footer */
footer{
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem;
}
footer span{
    margin-bottom: 2rem;
}



