nav{
    padding: .1rem .3rem;
}
ul li a{
    padding: .1rem;
    font-size: medium;
}
nav img{
    width: 25%;
    padding-top: 1rem;
}
/* hero */
#hero{
    width: 100%;
}
#hero .hero-left a{
    font-size: medium;
}
#hero .hero-right{
    width: 600px;
    right: 1rem;
}
/* video */
#video{
    width: 850px;
    margin: auto;
}
#video h1{
    font-size: 3.5rem;
}
/* sec */
#sec .container{
    max-width: 980px;
    gap: 1rem;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
}
.thumb{
    width: 250px;
}
.txt{
    width: 250px;
}
.txt h1{
    font-size: 1.8rem;
}
/* cases */
#cases{
    max-width: 980px;
    gap: 1rem;
    padding: 0 1rem;
}
.case h1{
    font-size: 1.5rem;
}
.case{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
/* logos */
#logos{
    max-width: 980px;
}
#logos h1{
    width: 60%;
}
#logos .container{
    padding: 0 2rem;
    gap: 1.8rem;
    margin: auto;
    grid-template-columns: repeat(4,1fr);
}
#logos img{
    width: 70%;
}
/* links */
#links{
    width: 100%;
}
#links .link{
    background-color: blueviolet;
    width: 50%;
}
#links .link ul{
    margin-right: 1.5rem;
    font-size: large;
}






